<div class="module module-narrow module-shallow bg-cultured">
  <h2 class="module-heading text-spanish-gray">
    {{ _('What are Groups?') }}
  </h2>
  <div class="module-content text-dark-electric-blue">
    <p>
      {% trans %}
        Las categorías son usadas para organizar los conjuntos de datos con respecto a ejes temáticos de relevancia. 
      {% endtrans %}
    </p>
    <p>
      {% trans %}
        Cada conjunto de datos puede asociarse a más de una categoría y esta catalogación permite a las personas usuarias explorar toda la información relacionada con un tema en específico de manera más rápida.
      {% endtrans %}
    </p>
  </div>
</div>
