<div class="module module-narrow module-shallow bg-cultured">
  <h2 class="module-heading text-spanish-gray">
    {{ _('What are Groups?') }}
  </h2>
  <div class="module-content text-dark-electric-blue">
    <p>
      {% trans %}
        Pueden ser las categorías de CKAN para crear y administrar colecciones de conjuntos de datos.
      {% endtrans %}
    </p>
    <p>
      {% trans %}
        Esto se puede usar para catalogar conjuntos de datos de un proyecto concreto o un equipo, de un tema en particular o como una manera muy sencilla de ayuddar a la gente a buscar y encontrar sus propios conjuntos de datos publicados.
      {% endtrans %}
    </p>
  </div>
</div>
