{% ckan_extends %}

{% block basic_fields %}

{% block basic_fields_url %}
  {{ super() }}
{% endblock %}

{% block basic_fields_name %}
  {{ form.input('name', id='field-name', label=_('Título'), placeholder=_('eg. January 2011 Gold Prices'), value=data.name, error=errors.name, classes=['control-full']) }}
{% endblock %}

{{ form.input('resource_subtitle', id='field-resource_subtitle', label=_('Subtítulo'), placeholder='Lorem ipsum', value=data.resource_subtitle, error=errors.resource_subtitle, classes=['control-full']) }}

{% block basic_fields_description %}
  {{ form.markdown('description', id='field-description', label=_('Description'), placeholder=_('Some useful notes about the data'), value=data.description, error=errors.description) }}
{% endblock %}

{% block basic_fields_format %}
  {% set format_attrs = {'data-module': 'autocomplete', 'data-module-source': '/api/2/util/resource/format_autocomplete?incomplete=?'} %}
  {% call form.input('format', id='field-format', label=_('Format'), placeholder=_('eg. CSV, XML or JSON'), value=data.format, error=errors.format, classes=['control-medium'], attrs=format_attrs) %}
    <span class="info-block info-block-small">
      <i class="fa fa-info-circle"></i>
      {{ _('This will be guessed automatically. Leave blank if you wish') }}
    </span>
  {% endcall %}
{% endblock %}

{{ form.select("update_frequency", label=_("Frecuencia de actualización"), options=h.update_frequencies(), selected=data.update_frequency) }}

<h2 class="mt-5 mb-4">Ajustes para visualizaciones</h2>

{% call form.input('resource_viz', id='field-resource_viz', label=_('Variables a visualizar'), placeholder='ej:columna_a,columna_d', value=data.resource_viz, error=errors.resource_viz, classes=['control-full']) %}
<span class="info-block info-block-small">
  <i class="fa fa-info-circle"></i>
  {{ _('Utilice comas para separar los campos') }}
</span>
{% endcall %}

{% call form.input('resource_disaggregate', id='field-resource_disaggregate', label=_('Variables para desagregar'), placeholder='ej:columna_a,columna_d', value=data.resource_disaggregate, error=errors.resource_disaggregate, classes=['control-full']) %}
<span class="info-block info-block-small">
  <i class="fa fa-info-circle"></i>
  {{ _('Utilice comas para separar los campos') }}
</span>
{% endcall %}

{% call form.input('resource_filters', id='field-resource_filters', label=_('Variables para filtrar'), placeholder='ej:columna_a,columna_d', value=data.resource_filters, error=errors.resource_filters, classes=['control-full']) %}
<span class="info-block info-block-small">
  <i class="fa fa-info-circle"></i>
  {{ _('Utilice comas para separar los campos') }}
</span>
{% endcall %}

{{ form.checkbox('hide_visualization', id='field-hide_visualization', label=_('Este recurso no tiene visualizador de datos'), value=True, checked=data.hide_visualization, error=errors.hide_visualization) }}

{% call form.select("dashboard", label=_("Seleccione un visor"), options=h.dashboard_types(), selected=data.dashboard) }
<span class="info-block info-block-small">
  <i class="fa fa-info-circle"></i>
  {{ _('Este campo no tiene efecto si la casilla de verificación de arriba se encuentra marcada.') }}
</span>
{% endcall %}

{{ form.select("chart_type", label=_("Visualización por defecto"), options=h.chart_types(), selected=data.chart_type) }}

{% call form.input('resource_default_var', id='field-resource_default_var', label=_('Variable por defecto'), placeholder='columna_a', value=data.resource_default_var, error=errors.resource_default_var, classes=['control-full']) %}
<span class="info-block info-block-small">
  <i class="fa fa-info-circle"></i>
  {{ _('Utilice comas para separar los campos') }}
</span>
{% endcall %}

{{ form.input('resource_priority_date', id='field-resource_priority_date', label=_('Variable de fecha a priorizar'), placeholder='Lorem ipsum', value=data.resource_priority_date, error=errors.resource_priority_date, classes=['control-full']) }}

{{ form.select("date_format", label=_("Formato de fechas"), options=h.date_formats(), selected=data.date_format) }}

{% endblock %}
