<section id="dataset-resources">
  {% block resource_list %}
    {% if resources %}
      <ul class="list-unstyled mt-3">
        {% block resource_list_inner %}
          {% set can_edit = h.check_access('package_update', {'id':pkg.id }) and not is_activity_archive %}
          {% for resource in resources %}
            {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, can_edit=can_edit, is_activity_archive=is_activity_archive %}
          {% endfor %}
        {% endblock %}
      </ul>
    {% else %}
      {% if h.check_access('resource_create', {'package_id': pkg['id']}) and not is_activity_archive %}
        {% trans url=h.url_for(pkg.type ~ '_resource.new', id=pkg.name) %}
          <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
        {% endtrans %}
      {% else %}
        <p class="empty">{{ _('This dataset has no data') }}</p>
      {% endif %}
    {% endif %}
  {% endblock %}
</section>
