{% set url_action = pkg.type ~ ('_resource.edit' if url_is_edit and can_edit else '_resource.read') %}
{% set url = h.url_for(url_action, id=pkg.id if is_activity_archive else pkg.name, resource_id=res.id, **({'activity_id': request.args['activity_id']} if 'activity_id' in request.args else {})) %}

<li class="text-eerie-black dataset-resource resource-item" data-id="{{ res.id }}">
  {% block resource_item_title %}
    <a class="text-lg text-aqua font-weight-bold" href="{{ url }}" title="{{ res.name or res.description }}">
      {{ h.resource_display_name(res) | truncate(50) }}
      {{ h.popular('views', res.tracking_summary.total, min=10) if res.tracking_summary }}
    </a>
  {% endblock %}
  <div class="mt-2 d-flex flex-column align-items-start flex-md-row align-items-md-center">
    {% set format_color = h.get_format_color(res.format) %}
    <span class="text-center rounded font-weight-bold flex-shrink-0 mr-2 px-2 py-1 text-sm text-white" property="dc:format" data-format="{{ res.format.lower() or 'data' }}" style="background-color: {{ format_color }};">
      <i class="fas fa-cloud-download-alt"></i>
      <span class="ml-1">{{ h.get_translated(res, 'format') }}</span>
    </span>
    <p class="mt-2 mb-0 mt-md-0"><strong>Última Actualización</strong>: {{ h.humanize_date(res.last_modified) }}</p>
  </div>
  {% block resource_item_description %}
    {% if res.description %}
      <p class="text-base mt-3 mb-0">
        {{ h.markdown_extract(h.get_translated(res, 'description'), extract_length=80) }}
      </p>
    {% endif %}
  {% endblock %}
  <div class="mt-4">
    {% if res.dashboard not in ["default", "tables", "shp"] %}
      <a href="{{ url }}" class="btn btn-sm bg-cadmium-orange text-white rounded">
        Consultar
      </a>
    {% else %}
      <a href="{{ url }}" class="btn btn-sm bg-mn-blue text-white rounded">
        Visualizar
      </a>
    {% endif %}
    {% if res.url and h.is_url(res.url) %}
      {% if res.has_views or res.url_type == 'upload' %}
        <a href="{{ res.url }}" class="btn btn-sm bg-blue-green-color-wheel text-white rounded">
          {{ _('Download') }}
        </a>
      {% endif %}
    {% endif %}
  </div>
</li>

<!-- Previsualización
Descargar
Editar -->