<div class="jumbotron jumbotron-fluid" style="background-image: url(/images/bg-package-search.png); background-size: cover; background-position: center; background-repeat: no-repeat; box-shadow: 0px 3.28661px 24.6496px rgba(0, 0, 0, 0.25);;">
  <div class="container">
    <div class="my-4 text-white">
      {% if subtitle %}
        <p class="text-center font-weight-bold" style="font-size: 40px;">
          {{ subtitle }}
        </p>
      {% endif %}
      <h1 class="banner-title text-center font-weight-bolder">
        {{ title }}
      </h1>
    </div>
  </div>
</div>