{% ckan_extends %}

{% block info %}
  <div class="font-inter text-eerie-black">
    {% if has_context_title %}
      <h2 class="text-base text-aqua font-weight-bold mb-1">
        {{ h.humanize_entity_type('organization', organization.type, 'sidebar label') or _('Organization') }}
      </h2>
    {% endif %}
    <section>
      {% block inner %}
        {% block image %}
          <div class="mb-3">
            <a href="{{ url }}">
              <img class="img-fluid" src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ organization.name }}" />
            </a>
          </div>
        {% endblock %}
        {% block heading %}
          <h1 class="text-base font-weight-bold">{{ organization.title or organization.name }}
            {% if organization.state == 'deleted' %}
              [{{ _('Deleted') }}]
            {% endif %}
          </h1>
        {% endblock %}
        {% block description %}
          {% if organization.description %}
            <p class="description">
              {{ h.markdown_extract(organization.description, 180) }}
            </p>
            <p class="read-more">
              <!-- {{ h.url_for(organization.type ~ '.about', id=organization.name) }} -->
              {% set read_more = h.url_for('%s.about' % organization.type, id=organization.name)%}
              <pre>{{ read_more }}</pre>
              <a class="text-aqua" href="#">Leer más</a>
            </p>
          {% else %}
            <p class="empty">{{ h.humanize_entity_type('organization', organization.type, 'no description') or _('There is no description for this organization') }}</p>
          {% endif %}
        {% endblock %}
      {% endblock %}
    </section>
  </div>
{% endblock %}
