{% ckan_extends %}

{% block search_title %}
{% endblock %}
  
{% block search_input %}
  <div class="searchbox d-flex justify-content-between overflow-hidden">
    <input
      type="text"
      class="searchbox-input border-0 px-3"
      placeholder="Buscar conjunto de datos"
      aria-label="Buscar conjunto de datos"
      name="q"
      value="{{ query }}"
      autocomplete="off"
    />
    <button class="searchbox-button bg-dark-electric-blue border-0 d-inline-flex justify-content-center align-items-center" aria-label="{{_('Submit')}}" type="submit" value="search">
      <i class="fa fa-search"></i>
    </button>
  </div>
{% endblock %}
  
{% block search_sortby %}
  {% if sorting %}
    <div class="d-flex align-items-baseline justify-content-end mt-3">
      <label class="flex-shrink-0 mr-2 font-weight-normal" for="field-order-by">{{ _('Order by') }}</label>
      <div class="flex-shrink-0">
        <select id="field-order-by" name="sort" class="form-control form-select" style="background-color: rgba(26, 26, 26, 0.04);
        border: none;">
          {% for label, value in sorting %}
            {% if label and value %}
              <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      {% block search_sortby_button %}
        <button class="btn btn-default js-hide" type="submit">{{ _('Go') }}</button>
      {% endblock %}
    </div>
  {% endif %}
{% endblock %}

{% block search_facets %}
  {% if facets %}
    <div class="filter-list mt-5">
      {% if facets.fields | length > 0 %}
        <div class="mt-5">
          <span class="text-spanish-gray mr-2 font-inter font-weight-bold">Filtros aplicados:</span>
          {% for field in facets.fields %}
            {% set search_facets_items = facets.search.get(field)['items'] %}
            {% for value in facets.fields[field] %}
              <span class="d-inline-block bg-polished-pine text-white rounded-lg px-2 py-1 text-sm">
                <a href="{{ facets.remove_field(field, value) }}" class="remove text-white mr-1" title="{{ _('Remove') }}"><i class="fa fa-times"></i> </a> 
                {%- if facets.translated_fields and (field,value) in facets.translated_fields -%}
                  {{ facets.translated_fields[(field,value)] }}
                {%- else -%}
                  {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) }}
                {%- endif %}
              </span>
            {% endfor %}
          {% endfor %}
          <a class="show-filters btn btn-default">{{ _('Filter Results') }}</a>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}


