{% ckan_extends %}

{%- block content %}
  {% block maintag %}<div>{% endblock %}
  <div id="content" class="bg-white">
    {% block main_content %}
      {% block flash %}{{ super() }}{% endblock %}
      {% block toolbar %}{% endblock %}
      {% set pluralized = 'conjuntos' if group_dict.package_count != 1 else 'conjunto' %}
      {% set subtitle = group_dict.package_count ~ ' ' ~ pluralized ~ ' de datos de' %}
      {% snippet 'snippets/jumbotron.html', title=group_dict.title, subtitle=subtitle %}
      <div class="container">
        <div class="row {% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' or c.action=='resource_read' %} no-nav{% endif %}">
          {% block secondary %}
            <aside class="secondary col-md-4">
              <div class="text-eerie-black font-inter">
                {% block secondary_content %}
                  {{ super() }}
                {% endblock %}
              </div>
            </aside>
          {% endblock %}
          {% block primary %}
            <div class="primary col-md-8" role="main">
              {% block primary_content %}
                {{ super() }}
              {% endblock %}
            </div>
          {% endblock %}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock -%}

{% block organization_facets %}
  <div class="filters">
    <div class="card">
      {% for facet in facet_titles %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, extras={'id':group_dict.id}, search_facets=search_facets) }}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}


