/**
 * Navbar
 */

#main-nav .nav-link {
  color: #141414;
}

#nav-menu {
  background-color: #F9F9F9 !important;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-top: 2px solid #9f2241;
}

#nav-menu a {
  padding-top: 12px;
  padding-bottom: 12px;
}

#nav-menu a.active {
  color: #9F2241 !important;
  border-bottom: 1px solid #9F2241;
  background-color: transparent !important;
}

#nav-menu a,
#nav-menu .fa-bars {
  color: #6f7271 !important;
}

.resource-banner {
  position: relative;
}

.resource-banner-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  inset: 0;
  opacity: 0.3;
  position: absolute;
}

.resource-banner-container {
  color: #3998A5;
  isolation: isolate;
  max-width: 1536px;
  padding: 40px 20px;
  text-align: center;
}

.resource-content .toolbar {
  padding: 0;
  margin-bottom: 0;
}

.search-form {
  margin-bottom: 0 !important;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-list-item {
  text-align: center;
}

.grid-list-item-image {
  width: 64px;
  height: 64px;
  object-fit: contain;
}