/**
 * Navbar
 */
#nav-menu {
  background-color: #ffffff !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding-top: 24px !important;
  padding-bottom: 24px !important;
  border-top: 2px solid #9f2241;
}

#nav-menu a,
#nav-menu .fa-bars {
  color: #6f7271 !important;
}

@media (min-width: 992px) {
  #nav-menu a {
    padding-top: 0;
    padding-bottom: 0;
  }
}


.resource-banner {
  position: relative;
}

.resource-banner-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  inset: 0;
  opacity: 0.3;
  position: absolute;
}

.resource-banner-container {
  color: #3998A5;
  isolation: isolate;
  max-width: 1536px;
  padding: 40px 20px;
  text-align: center;
}

.resource-content .toolbar {
  padding: 0;
  margin-bottom: 0;
}