.bg-alice-blue {
  background-color: #EDF2F7;
}

.bg-aqua {
  background-color: #3998A5;
}

.bg-blue-green {
  background-color: #1B5C4F;
}

.bg-blue-green-color-wheel {
  background-color: #235B4E;
}

.bg-cadmium-orange {
  background-color: #ED8936;
}

.bg-cultured {
  background-color: #f9f9f9;
}

.bg-dark-electric-blue {
  background-color: #637381;
}

.bg-mn-blue {
  background-color: #2C5282;
}

.bg-phthalo-green {
  background-color: #10312B;
}

.bg-platinum {
  background-color: #EAE8E861;
}

.bg-polished-pine {
  background-color: #54A390;
}

.bg-white {
  background-color: #ffffff;
}

.border-dark-electric-blue {
  border-color: #637381;
}

.text-aqua {
  color: #3998A5;
}

.text-big-dip-oruby {
  color: #9F2241;
}

.text-black-coral {
  color: #575E67;
}

.text-cultured {
  color: #fefefe;
}

.text-blue-green-color-wheel {
  color: #235B4E;
}

.text-dark-electric-blue {
  color: #637381;
}

.text-eerie-black {
  color: #141414;
}

.text-raisin-black {
  color: #1A202C;
}

.text-spanish-gray {
  color: #929190;
}

.text-white {
  color: #ffffff;
}

.text-davys-gray {
  color: #5F5F5F;
}