.bg-aqua {
  background-color: #3998A5;
}

.bg-blue-green {
  background-color: #1B5C4F;
}

.bg-blue-green-color-green {
  background-color: #235B4E;
}

.bg-cadmium-orange {
  background-color: #ED8936;
}

.bg-dark-electric-blue {
  background-color: #637381;
}

.bg-polished-pine {
  background-color: #54A390;
}

.bg-white {
  background-color: #ffffff;
}

.border-dark-electric-blue {
  border-color: #637381;
}

.text-aqua {
  color: #3998A5;
}

.text-big-dip-oruby {
  color: #9F2241;
}

.text-cultured {
  color: #fefefe;
}

.text-dark-electric-blue {
  color: #637381;
}

.text-eerie-black {
  color: #141414;
}

.text-white {
  color: #ffffff;
}