.bg-aqua {
  background-color: #3998A5;
}

.bg-blue-green {
  background-color: #1B5C4F;
}

.text-aqua {
  color: #3998A5;
}

.text-cultured {
  color: #fefefe;
}

.text-eerie-black {
  color: #141414;
}

.text-white {
  color: #ffffff;
}