.main-search {
  position: relative;
}

.main-search-input {
  background-color: transparent;
  border-radius: 9999px;
  border: 2px solid #ffffff;
  color: #ffffff;
  display: block;
  font-weight: 700;
  padding: 12px 50px 12px 24px;
  width: 100%;
}

.main-search-input::placeholder {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

.main-search-button {
  background-color: transparent;
  border: none;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.main-search-button img {
  height: 42px;
  object-fit: contain;
  object-position: center;
  width: 42px;
}

.btn-home {
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}

.btn-home:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}