.nav-tabs li,
.nav-tabs li.nav-item,
.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs li.active,
.nav-tabs li.nav-item.active,
.nav-tabs .nav-item.active {
  background-color: #ffffff !important;
}

.nav-tabs li.active > a {
  color: #637381 !important;
  border-color: #dee2e6 #dee2e6 #fff !important;
}

.nav-tabs a,
.nav-tabs a.nav-link,
.nav-tabs .nav-link {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border: 1px solid transparent;
  display: block;
  padding: 0.5rem 1rem;
}