@font-face {
  font-family: "Gotham";
  src: url(/fonts/Gotham-Black.otf);
  font-weight: 900;
}

@font-face {
  font-family: "Gotham";
  src: url(/fonts/Gotham-Black.otf);
  font-weight: 700;
}

.font-gotham {
  font-family: "Gotham";
}

.font-roboto {
  font-family: "Roboto";
}

.font-source-sans-pro {
  font-family: "Source Sans Pro";
}

.font-bold {
  font-weight: 700;
}

@media (min-width: 1024px) {
  .lg\:text-left {
    text-align: left;
  }
}
