{% ckan_extends %}

{% block content %}
  {{ super() }}
  {% if res.id == 'd543a7b1-f8cb-439f-8a5c-e56c5479eeb5' %}
    <div class="container-fluid">
      <div style="position: relative;">
        <div style="position: absolute; inset: 0; background-position: center; background-size: cover; background-repeat: no-repeat; opacity: 0.3; background-image: url(/images/banner-bg.png);"></div>
        <div style="margin: 0 auto; padding: 40px 20px; text-align: center; isolation: isolate; color: #3998a5;">
          <h2 style="font-size: 30px;" class="font-gotham">Víctimas en carpetas de investigación FGJ</h2>
          <p style="font-size: 14px; margin-top: 20px; font-family: Roboto;">Denuncias entre enero de 2019 y marzo de 2022</p>
        </div>
      </div>
      <div style="position: relative;padding-bottom: calc(9 / 16 * 100%);">
        <iframe style="position: absolute;height: 100%;width: 100%;top: 0;right: 0;bottom: 0;left: 0;" src="https://datasketch.shinyapps.io/cdmxApp-CKAN/" frameborder="0"></iframe>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block resource_read_title %}
  <div {% if res.resource_subtitle %}style="color: #3998a5"{% endif %}>
    {{ super() }}
    {% if res.resource_subtitle %}
      <p>{{ res.resource_subtitle }}</p>
    {% endif %}
  </div>
{% endblock %}

{% block data_preview %}
  {% if res.id != 'd543a7b1-f8cb-439f-8a5c-e56c5479eeb5' %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block resource_additional_information_inner %}
  {% if res.id != 'd543a7b1-f8cb-439f-8a5c-e56c5479eeb5' %}
    {{ super() }}
  {% endif %} 
{% endblock %}

