<div class="module module-narrow module-shallow bg-cultured">
  <h2 class="module-heading text-spanish-gray">
    {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content text-dark-electric-blue">
    <p>
      {% trans %}
        Las instituciones son usadas para crear, gestionar y publicar colecciones de conjuntos de datos generados por un mismo ente, institución o dependencia pública.
      {% endtrans %}
    </p>
    <p>
      {% trans %}
        Las personas administradoras de las instituciones pueden tener diferentes perfiles en una institución según su nivel de autorización para crear, editar y publicar conjuntos de datos.
      {% endtrans %}
    </p>
  </div>
</div>
