<div class="module module-narrow module-shallow bg-cultured">
  <h2 class="module-heading text-spanish-gray">
    {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content text-dark-electric-blue">
    <p>
      {% trans %}
        CKAN Organizations are used to create, manage and publish collections of datasets. Users can have different roles within an Organization, depending on their level of authorisation to create, edit and publish.
      {% endtrans %}
    </p>
  </div>
</div>
