<div class="module module-narrow module-shallow bg-cultured">
  <h2 class="module-heading text-spanish-gray">
    {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content text-dark-electric-blue">
    <p>
      {% trans %}
        Las instituciones en CKAN son usadas para crear, gestionar y publicar colecciones de conjuntos de datos generados por una mismo ente público o institución.
      {% endtrans %}
    </p>
    <p>
      {% trans %}
        Los usuarios pueden tener diferentes perfiles en una institución según su nivel de autorización para crear, editar y publicar.
      {% endtrans %}
    </p>
  </div>
</div>
