{% ckan_extends %}

{% block item %}
  <li class="organization-item">
    <a href="{{ url }}" title="{{ _('View {name}').format(name=organization.display_name) }}" aria-label="{{ _('View {name}').format(name=organization.display_name) }}" class="organization-item-container">
      <div class="organization-item-inner">
        <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ organization.name }}" class="organization-item-image">
        <h2 class="organization-item-header">{{ organization.display_name }}</h2>
        {% if organization.description %}
          <div class="mt-3 text-sm">
            <p>{{ h.markdown_extract(organization.description, extract_length=80) }}</p>
          </div>
        {% endif %}
      </div>
      <div class="bg-dark-electric-blue text-white px-1 py-2 font-weight-bold text-center">
        {% if organization.package_count %}
          <span>{{ ungettext('{num} Dataset', '{num} Datasets', organization.package_count).format(num=organization.package_count) }}</span>
        {% elif organization.package_count == 0 %}
          <span>{{ _('0 Datasets') }}</span>
        {% endif %}
      </div>
    </a>
  </li>
{% endblock %}