{% set stats = h.get_site_statistics() %}

<div class="jumbotron jumbotron-fluid" style="background-image: url(/images/bg-home.png); background-position: center; background-size: cover; background-repeat: no-repeat;" role="main">
  <div class="container text-white text-center py-5">
    <h1 class="display-4 font-weight-bold mb-0">Portal de Datos Abiertos</h1>
    <h2 class="font-weight-normal mt-4 text-2xl">Centro de Información y Análisis de la Ciudad de México</h2>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="mt-5 main-search">
          <input type="text" class="main-search-input" placeholder="¿Qué datos estás buscando?" />
          <button aria-label="Buscar" class="main-search-button">
            <img src="/images/search-home.png" alt="">
          </button>
        </div>
      </div>
    </div>
    <div class="d-flex flex-wrap justify-content-center mt-5">
      <div class="p-1 flex-shrink-0">
        <a href="#" class="btn btn-lg btn-home">Datos abiertos</a>
      </div>
      <div class="p-1 flex-shrink-0">
        <a href="#" class="btn btn-lg btn-home">Datos geográficos</a>
      </div>
      <div class="p-1 flex-shrink-0">
        <a href="#" class="btn btn-lg btn-home">Plan de apertura</a>
      </div>
      <div class="p-1 flex-shrink-0">
        <a href="#" class="btn btn-lg btn-home">Tutoriales</a>
      </div>
    </div>
  </div>
</div>
<!---->
<div class="container">
  <div class="row text-dark-electric-blue">
    <div class="col-sm text-center">
      <h3 class="font-weight-bold text-5xl">
        {{ stats.dataset_count }}
      </h3>
      <p class="text-lg">
        {{ _('dataset') if stats.dataset_count == 1 else _('datasets') }}
      </p>
    </div>
    <div class="col-sm text-center">
      <h3 class="font-weight-bold text-5xl">
        {{ stats.organization_count }}
      </h3>
      <p class="text-lg">
        {{ _('organization') if stats.organization_count == 1 else _('organizations') }}
      </p>
    </div>
    <div class="col-sm text-center">
      <h3 class="font-weight-bold text-5xl">
        {{ stats.group_count }}
      </h3>
      <p class="text-lg">
        {{ _('group') if stats.group_count == 1 else _('groups') }}
      </p>
    </div>
  </div>
  <!---->
  <div style="margin-top: 48px;">
    {% snippet "home/snippets/cdmx_featured_groups.html" %}
  </div>
  <!---->
</div>