<footer class="bg-blue-green text-cultured">
  <div class="max-w-screen-xl px-5 pt-10">
    <div class="flex flex-col space-y-8 lg:flex-row lg:items-start lg:justify-between lg:space-y-0">
      <div class="flex flex-col lg:flex-row lg:gap-12">
        <img class="w-52 mx-auto" src="/images/gob-cdmx-logo-footer.png" alt="">
        <div class="font-bold mt-4 text-center lg:mt-0 lg:text-left">
          <p>Diseñado y operado por la Agencia Digital de <br/>Innovación Pública</p>
        </div>
      </div>
      <div class="space-y-1 font-source-sans-pro">
        <p class="font-bold font-roboto">Atención ciudadana</p>
        <p>Dudas e información a:</p>
        <ul class="p-0 list-none">
          <li>
            <a href="mailto:infoadip@cdmx.gob.mx" class="flex items-center space-x-2 text-white">
              <img src="/images/envelope.svg" alt="">
              <span>infoadip@cdmx.gob.mx</span>
            </a>
          </li>
          <li class="flex items-center space-x-2">
            <img src="images/phone.svg" alt="">
            <span>55 3090 0500 ó 55 5457 5110</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="max-w-screen-2xl mx-auto px-5 py-10"><img src="images/footer-pattern.png" alt=""></div>
</footer>