{% ckan_extends %}

{%- block content %}
  {% block maintag %}<div>{% endblock %}
  <div id="content" class="bg-white">
    {% block main_content %}
      {% block flash %}{{ super() }}{% endblock %}
      {% block toolbar %}{% endblock %}
      {% set pluralized = 'conjuntos' if group_dict.package_count != 1 else 'conjunto' %}
      {% set subtitle = group_dict.package_count ~ ' ' ~ pluralized ~ ' de datos sobre' %}
      {% snippet 'snippets/jumbotron.html', title=group_dict.title, subtitle=subtitle %}
      <div class="container">
        <div class="row {% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' or c.action=='resource_read' %} no-nav{% endif %}">
          {% block secondary %}
            <aside class="secondary col-lg-4">
              <div class="text-eerie-black font-inter">
                {% block secondary_content %}
                  {% snippet "group/snippets/info.html", group=group_dict, show_nums=false %}
                  <div class="card filters mt-4" style="box-shadow: 0px 0px 0px 0.823214px rgba(26, 26, 26, 0.1), 0px 1.64643px 3.29286px rgba(26, 26, 26, 0.1);">
                    <div class="card-body">
                      <h5 class="font-weight-bold">Filtros</h5>
                      <p class="mb-0">Encuentra conjuntos de datos según tus intereses.</p>
                    </div>
                    {% for facet in facet_titles %}
                      {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, extras={'id':group_dict.id}, search_facets=search_facets) }}
                    {% endfor %}
                  </div>
                  <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
                {% endblock %}
              </div>
            </aside>
          {% endblock %}
          {% block primary %}
            <div class="primary col-lg-8" role="main">
              {% block primary_content %}
                {{ super() }}
              {% endblock %}
            </div>
          {% endblock %}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock -%}
